html {
    font-family: 'Fredoka One', cursive;
}

.title {
    color: #9448b2;
    font-size: 3rem;
    text-align: center;
}

.form-label,
.form-input {
    display: block;
}

.form-label {
    background-color: #ffffff;
    color: #9448b2;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-input {
    border: 2px solid #ffd057;
    border-radius: 8px;
    color: #333333;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}


.btn {
    background-color: transparent;
    border: 2px solid #ffd057;
    border-radius: 8px;
    color: #333333;
    font-family: inherit;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.15s ease-in;
}

.btn:not(:last-of-type) {
    margin-right: 1rem;
}

.btn:hover {
    background-color: #ffd057;
    color: #ffffff;
    cursor: pointer;
}

.pokemons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(320px, 1fr);
}

.pokemon {
    background-color: #ffd057;
    border: 2px solid #ffd057;
    border-radius: 8px;
}

.pokemon-name {
    color: #9448b2;
    text-align: center;
}

.pokemon-name::first-letter {
    text-transform: uppercase;
}

.pokemon-img {
    width: 100%;
}
