html {
    background-color: #1c1c1c;
    font-family: 'Fredoka One', cursive;
}

.title {
    color: #ffac00;
}

.pokemons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(320px, 1fr);
}

.pokemon {
    border: 2px solid #ffac00;
    border-radius: 8px;
}

.pokemon-name {
    color: #ffac00;
    text-align: center;
}

.pokemon-img {
    width: 100%;
}
